# ==============================================================================
# Type Declaration
# ==============================================================================
type mtk_hal_power, domain;
type mtk_hal_power_exec, exec_type, file_type, vendor_file_type;

# hwbinder access
init_daemon_domain(mtk_hal_power)
hwbinder_use(mtk_hal_power);

allow mtk_hal_power hwservicemanager_prop:file r_file_perms;
allow mtk_hal_power hal_power_hwservice:hwservice_manager { add find };
allow mtk_hal_power hidl_base_hwservice:hwservice_manager add;

add_hwservice(hal_power, mtk_hal_power_hwservice)
allow hal_power_client mtk_hal_power_hwservice:hwservice_manager find;

hal_server_domain(mtk_hal_power, hal_power);

# proc fs
allow mtk_hal_power proc:dir  {search getattr};
allow mtk_hal_power proc:file {getattr open read write ioctl};

# sysfs
allow mtk_hal_light sysfs:file rw_file_perms;
allow mtk_hal_power sysfs_devices_system_cpu:file write;

# debugfs
allow mtk_hal_power debugfs_ged:dir search;
allow mtk_hal_power debugfs_ged:file { getattr open read write };

