type thermalloadalgo_exec, exec_type, vendor_file_type, file_type;
type thermalloadalgo, domain;

init_daemon_domain(thermalloadalgo)

allow thermalloadalgo thermalloadalgo:netlink_socket { create bind write read };
