type tkcore, domain;
type tkcore_exec, exec_type, file_type, vendor_file_type;
type tkcore_admin_device, dev_type;
type tkcore_data_file, file_type, data_file_type;
type tkcore_systa_dir, file_type;
type tkcore_spta_dir, file_type, data_file_type;
type tkcore_prop, property_type, mtk_core_property_type;
type tkcore_log_file, file_type, data_file_type;
type tkcore_block_device, dev_type;

init_daemon_domain(tkcore)

# kernel device
allow tkcore tkcore_admin_device:chr_file rw_file_perms;
allow cs_fp_hw tkcore_admin_device:chr_file rw_file_perms;

# sfs
allow tkcore tkcore_data_file:dir create_dir_perms;
allow tkcore tkcore_data_file:file { create_file_perms link };

# systa loading
allow tkcore tkcore_systa_dir:dir r_dir_perms;
allow tkcore tkcore_systa_dir:file r_file_perms;

# spta mgmt/loading
allow tkcore tkcore_spta_dir:dir create_dir_perms;
allow tkcore tkcore_spta_dir:file create_file_perms;

# logging
allow tkcore tkcore_log_file:file create_file_perms;
allow shell tkcore_data_file:dir search;
allow shell tkcore_log_file:file { open read getattr };

# allow tkcore to read/write trustkernel.* properties
allow tkcore property_socket:sock_file { read write };
allow tkcore init:unix_stream_socket { connectto };
allow tkcore tkcore_prop:property_service set;

# maintaining version through /proc fs
allow tkcore proc:file { open read write };

# for PP
allow tkcore protect_f_data_file:dir { search };

# for SDRPMB
allow tkcore tkcore_block_device:blk_file rw_file_perms;
allow tkcore block_device:dir search;

# META related
allow meta_tst tkcore_admin_device:chr_file { read write open ioctl };
# allow meta to store tmp data in /sdcard
allow meta_tst sdcardfs:dir create_dir_perms;
allow meta_tst sdcardfs:file create_file_perms;

allow meta_tst storage_file:dir create_dir_perms;
allow meta_tst storage_file:file create_file_perms;

allow meta_tst media_rw_data_file:dir { create_dir_perms };
allow meta_tst media_rw_data_file:file { create_file_perms };

# android services
allow hal_gatekeeper_default tkcore_admin_device:chr_file { read write open ioctl };
allow hal_keymaster_default tkcore_admin_device:chr_file { read write open ioctl };
allow hal_fingerprint_default tkcore_admin_device:chr_file { read write open ioctl };
allow hal_keymaster_attestation tkcore_admin_device:chr_file { read write open ioctl };

# allow untrusted_app to access tkcore_admin_device
# refer to external/sepolicy/mls for the detail MLS constrain
typeattribute tkcore_admin_device mlstrustedobject;
typeattribute tkcore_spta_dir mlstrustedobject;
typeattribute tkcore_data_file mlstrustedobject;
