# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK15.35
# Operation : Migration
# Purpose: for secure video path feature, allow mediaserver use mtee exported function
allow mediaserver tee_device:chr_file { read write open ioctl };

#Purpose: hdcp for kisd(mtk94109)
#allow mediaserver kisd:unix_stream_socket {connectto};

allow mediaserver dri_device:chr_file  { open read write ioctl };
allow mediaserver render_device:chr_file  { open read write ioctl };

allow mediaserver debugfs_tracing:file write;
