##
#trusted execution environment (tee) daemon
#

# ==============================================
# MTK Policy Rule
# ==============================================
# for rpmb
allow tee self:capability { setuid sys_rawio };
allow tee sysfs:file r_file_perms;
allow tee block_device:dir search;
allow tee rpmb_block_device:blk_file rw_file_perms;
allow tee property_socket:sock_file write;
allow tee init:unix_stream_socket connectto;
allow tee sys_rpmb_ready_prop:property_service set;
