
# For mt8173 bootup
allow untrusted_app surfaceflinger:fifo_file { read write };
allow untrusted_app gpu_device:chr_file { open read write ioctl};
allow untrusted_app dri_device:chr_file { open read write ioctl};
allow untrusted_app render_device:chr_file { open read write ioctl};
allow system_server gpu_device:chr_file { open read write ioctl};
allow mediaserver gpu_device:chr_file {open read write ioctl};
#============= untrusted_app_25 ==============
allow untrusted_app_25 dri_device:chr_file { open read write ioctl getattr};
allow untrusted_app_25 render_device:chr_file { open read write ioctl getattr};
allow untrusted_app_25 debugfs_gpu_img:dir search;
allow untrusted_app_25 debugfs_ion:dir search;
allow untrusted_app_25 hal_graphics_allocator_default:fifo_file {open read write getattr ioctl};

#============= mtk_hal_camera ==============
allow mtk_hal_camera render_device:chr_file { read write ioctl open };
