# ==============================================
# MTK Policy Rule
# ============

allow radio custom_file:dir getattr;
#violate never allow rule
#allow radio device:chr_file { read write ioctl open getattr };
##violate never allow rule
#allow radio sysfs:file write;
##violate never allow rule
#allow radio system_data_file:file append;
allow radio zygote:unix_stream_socket { getopt getattr };

# Date : WK14.38 2014/09/16
# Operation : Migration
# Purpose : for engineermode
allow radio mediatek_prop:property_service set;
allow radio mt_otg_test_device:chr_file { read write ioctl open };
allow radio mtgpio_device:chr_file { read ioctl open };
allow radio stpbt_device:chr_file { read write open };
allow radio stpant_device:chr_file { read write open };
allow radio bt_int_adp_socket:sock_file write;
allow radio guiext-server:binder { transfer call };
allow radio mt6605_device:chr_file { read write ioctl open getattr };
allow radio system_prop:property_service set;

# Date: wk14.40
# Operation : SQC
# Purpose : [ALPS01756200] wwop boot up fail
allow radio custom_file:dir { search getattr open read };
allow radio custom_file:file { read open getattr};

# C2K System Property
allow radio cdma_prop:property_service set;

# Date : 2014/12/13
# Operation : IT
# Purpose : for bluetooth relayer mode
allow radio block_device:dir search;
allow radio ttyGS_device:chr_file { open read write ioctl };

# Date : 2014/12/26
# Operation : IT
# Purpose : for engineermode sensor can work normal
allow radio als_ps_device:chr_file { read open ioctl };

# Date : 2015/01/20
# Operation : IT
# Purpose : for engineermode Usb PHY Tuning
allow radio debugfs:file { getattr };

# Date : WK15.05 2015/01/26
# Operation : IT
# Purpose : for engineermode camera
allow radio debug_prop:property_service set;

# Date : 2015/08/17
# Operation : VoLTE sanity
# Purpose : Add permission for IMSA connect to IMSM
allow radio mal_mfi_socket:sock_file write;
allow radio mal_mfi_socket2:sock_file write;


# Date : WK15.34 2015/08/21
# Operation : IT
# Purpose : for engineermode WFD IOT property
allow radio surfaceflinger:fifo_file { read write };

# Date: 2015/10/22
# Operation: Run STK
# Purpose : Add permission for SIM tool kit
allow radio sw_sync_device:chr_file getattr;
allow radio sw_sync_device:chr_file { read write };
allow radio sw_sync_device:chr_file open;
allow radio sw_sync_device:chr_file ioctl;


# Date : WK15.51 2015/12/19
# Operation : Adapt CMCC FT auto test tool[CMDC Tester] to MTK platform
# Purpose : for [CMDC Tester][com.hugeland.cdsplus] run on user load
#allow radio radio_data_file:file { execute execute_no_trans };
allow radio media_rw_data_file:dir search;
allow radio proc_mtkcooler:dir search;
allow radio proc_mtktz:dir search;
allow radio system_app_data_file:dir { getattr };
