# ==============================================
# MTK Policy Rule
# ==============================================

# permissive system_app;
typeattribute system_app mlstrustedsubject;

# Date: 2014/08/01
# Operation: BaseUT
# Purpose: [Settings][Settings used list views need velocity tracker access touch dev]
# Package: com.android.settings
allow system_app touch_device:chr_file { read ioctl open };
allow system_app guiext-server:binder { transfer call };
allow system_app devmap_device:chr_file { read ioctl open };
allow system_app graphics_device:chr_file { read write ioctl open };
allow system_app graphics_device:dir search;

# Date: 2014/10/7
# Operation: SQC
# Purpose: [sysoper][sysoper will create folder /cache/recovery]
# Package: com.mediatek.systemupdate.sysoper
allow system_app cache_file:dir { write create add_name };
allow system_app cache_file:file { write create open };

# Date : 2014/10/28
# Operation: SQC
# Purpose : ALPS01761930
# Package: com.android.settings
allow system_app asec_apk_file:file r_file_perms;

# Date : WK14.46
# Operation : Migration
# Purpose : for MTK Emulator HW GPU
allow system_app qemu_pipe_device:chr_file rw_file_perms;

# Date : 2015/01/27
# Operation: SQC
# Purpose: It's not normal behavior, that system_app want to access radio_file_data
# Package: android.ui
dontaudit system_app radio_data_file:dir search;

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow system_app system_app_service:service_manager add;
allow system_app drmserver:drmservice openDecryptSession;

# Date: 2015/07/24
# Stage: Migration
# Purpose: [MTKThermalManager][View thermal zones and coolers, and change thermal policies]
# Package Name: com.mediatek.mtkthermalmanager
allow system_app thermal_manager_data_file:file { open getattr read write create};
allow system_app thermal_manager_data_file:file { open setattr lock };
allow system_app thermal_manager_data_file:dir { search getattr open read write setattr add_name };

# Date : 2015/10/27
# Operation : Feature Developing
# Purpose : allow system_app to find mw_blacklist
# Package: com.mediatek.multiwindow.service
allow system_app mtk_mwblacklist_service:service_manager add;
allow system_app mtk_mwblacklist_service:service_manager find;

allow system_app perf_control_sysfs:file rw_file_perms;


allow system_app wmt_prop:file { open getattr read };

# dev_info
allow system_app sysfs_devinfo:file r_file_perms;
# fmradio oreo
allow system_app fm_device:chr_file { ioctl open read write };

allow system_app wificond:binder { call };
allow system_app proc:file read;
allow system_app proc_pagetypeinfo:file read;
allow system_app sysfs_zram:dir search;
allow system_app debugfs_ion:dir search;
allow system_app proc:file open;
