#============= GoogleOtaBinder ==============
allow GoogleOtaBinder sysfs:file open;
allow GoogleOtaBinder sysfs:dir { read open };
allow GoogleOtaBinder sysfs:file getattr;

#============= atci_service ==============
allow atci_service camera_pipemgr_device:chr_file {read write open ioctl};

allow atci_service media_rw_data_file:dir { read open };
allow atci_service media_rw_data_file:file getattr;

allow atci_service mtkcam_prop:file {read open};

#============= priv_app ==============
#allow priv_app property_socket:sock_file write;

#============= atci_service ==============
allow atci_service debugfs_ion:dir search;

#============= platform_app ==============
#allow platform_app mnld:unix_stream_socket connectto;

#============= system_app ==============
#allow system_app self:capability net_admin;


