allow mtk_hal_camera dri_device:chr_file {open read write getattr ioctl};
allow mtk_hal_camera render_device:chr_file {open read write getattr ioctl};
# allow mtk_hal_camera default_prop:property_service set;

allow mtk_hal_camera devmap_device:chr_file {open read write getattr ioctl};;
allow mtk_hal_camera init:unix_stream_socket connectto;
allow mtk_hal_camera storage_file:dir search;


allow mtk_hal_camera media_rw_data_file:dir { getattr create };