
# For mt8173 bootup 
allow netdiag platform_app:dir search;
allow netdiag platform_app:file read;
allow netdiag untrusted_app:dir search;
allow netdiag untrusted_app:file read;
