
# For mt8173 bootup 
allow system_app surfaceflinger:fifo_file { read write };

allow system_app dri_device:chr_file  { open read write ioctl };
allow system_app render_device:chr_file  { open read write ioctl };


allow system_app debugfs_gpu_img:dir search;
allow system_app debugfs_ion:dir search;