# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK15.29
# Operation : Migration
# Purpose : for device bring up, not to block early migration
allow toolbox self:capability { chown };
#allow toolbox frp_block_device:blk_file setattr;
