type cs_fp_hw, domain;
hal_server_domain(cs_fp_hw, hal_fingerprint)

type cs_fp_hw_exec, exec_type, vendor_file_type, file_type;
typeattribute cs_fp_hw mlstrustedsubject;

init_daemon_domain(cs_fp_hw)
file_type_auto_trans(cs_fp_hw,system_data_file,cs_data_hw_file)

hwbinder_use(cs_fp_hw);
add_hwservice(cs_fp_hw, cs_fp_hwservice)

allow cs_fp_hw self:process execmem;
allow cs_fp_hw kernel:system module_request;
allow cs_fp_hw sdcard_type:file write;
allow cs_fp_hw fuse:dir create_dir_perms;
allow cs_fp_hw fuse:file create_file_perms;
allow cs_fp_hw self:capability { dac_override dac_read_search };

allow cs_fp_hw fingerprintd_device:chr_file { open read write ioctl rw_file_perms};

allow cs_fp_hw cs_fp_hwservice:hwservice_manager find;

allow hal_fingerprint_default cs_fp_hw:binder { call transfer };

allow cs_fp_hw hal_fingerprint_default:binder { call transfer };

allow cs_fp_hw hal_fingerprint_default:hwservice_manager find;

allow hal_fingerprint_default cs_fp_hw:hwservice_manager find;
allow hal_fingerprint_default cs_fp_hwservice:hwservice_manager find;

allow cs_fp_hw system_data_file:file { open read getattr lock };

allow cs_fp_hw system_data_file:dir { add_name getattr open read remove_name rmdir search write };

allow cs_fp_hw cs_data_hw_file:dir { add_name getattr open read remove_name rmdir search write };

allow hal_fingerprint_default system_data_file:dir { add_name getattr open read remove_name rmdir search write };

allow hal_fingerprint_default cs_data_hw_file:dir { add_name getattr open read remove_name rmdir search write };

allow hal_fingerprint_default cs_data_hw_file:file { create open write read};

allow cs_fp_hw cs_data_hw_file:file { create open write read };

allow cs_fp_hw sysfs:file { open read write getattr };

allow cs_fp_hw sysfs:dir { open read write getattr };

# allow HAL module to read dir contents
allow cs_fp_hw fingerprintd_data_file:file { create_file_perms };

# allow HAL module to read/write/unlink contents of this dir
allow cs_fp_hw fingerprintd_data_file:dir rw_dir_perms;

allow cs_fp_hw hwservicemanager_prop:file { open read getattr };

allow cs_fp_hw vndbinder_device:chr_file rw_file_perms;
allow cs_fp_hw self:netlink_socket create_socket_perms_no_ioctl;
allow cs_fp_hw vndservicemanager:binder call;
allow cs_fp_hw vndservicemanager:binder transfer;
allow cs_fp_hw tee_device:chr_file rw_file_perms;
allow cs_fp_hw platform_app:binder {call};
allow cs_fp_hw uhid_device:chr_file {open ioctl write read};

allow cs_fp_hw fuse:dir {search};
allow cs_fp_hw mnt_user_file:dir {search};
allow cs_fp_hw mnt_user_file:lnk_file {read};
allow cs_fp_hw storage_file:lnk_file {read};

allow cs_fp_hw hal_fingerprint_hwservice:hwservice_manager find;