# usbdongled - usb auto select daemon
type usbdongled_exec, exec_type, file_type, vendor_file_type;
type usbdongled, domain;

init_daemon_domain(usbdongled)
net_domain(usbdongled)

allow usbdongled self:capability { net_admin net_raw dac_override kill };

# Allow ril-3gddaemon to create and use netlink sockets.
allow usbdongled self:netlink_socket create_socket_perms_no_ioctl;
allow usbdongled self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow usbdongled self:netlink_nflog_socket create_socket_perms_no_ioctl;
allow usbdongled netdomain:{tcp_socket udp_socket rawip_socket dccp_socket tun_socket} {read write getattr setattr getopt setopt};
allow usbdongled netdomain:fd use;

# property service
set_prop(usbdongled, radio_prop)
set_prop(usbdongled, ctl_ril3gd_prop)

allow usbdongled tedongle_prop:property_service set;
allow usbdongled init:file { read open getattr };
allow usbdongled init:dir { read open getattr search };
allow usbdongled installd:file { read open getattr };
allow usbdongled servicemanager:file { read open getattr };
allow usbdongled system_file:file x_file_perms;
allow usbdongled sysfs:dir { read execute open };
allow usbdongled sysfs:file { read write open };
allow usbdongled vendor_file:file execute_no_trans;
allow usbdongled self:file { read open getattr };
allow usbdongled vendor_toolbox_exec:file execute_no_trans;
allow usbdongled vendor_shell_exec:file { read execute open execute_no_trans };
allow usbdongled kernel:file { read open getattr };
allow usbdongled kernel:dir { read open getattr search };
allow usbdongled ueventd:file { read open getattr };
allow usbdongled ueventd:dir { read open getattr };
allow usbdongled netdiag:file { read open getattr };
allow usbdongled logd:file { read open getattr };
allow usbdongled aee_aed:file { read open getattr };
allow usbdongled mobile_log_d:file { read open getattr };
allow usbdongled watchdogd:file { read open getattr };
allow usbdongled zygote:file { read open getattr };
